<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/welcome.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Edit participants</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body id="welcome">
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>
   <nav class="navbar navbar-light" style="background-color: rgba(12,84,132,1);">
       <div class="container-fluid">
           <h3>AI-LAB</h3>
            <div class="col-7 d-flex justify-content-end">
                <a href="/login" type="button" class="btn btn-sec">Log out</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        {{#each rows}}
                        <a class="nav-link active" aria-current="page" href="/profile/{{this.id_participant}}">Profile</a>
                        {{/each}}
                    </li>
                    <li class="nav-item">
                        {{#each rows}}
                        <a class="nav-link active" aria-current="page" href="/editprofile/{{this.id_participant}}">Edit profile</a>
                        {{/each}}
                    </li>
                </ul>
            </div> 
        </div>
   </nav>
  

  <div class="container pt-5 pb-5">
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        {{#each rows}}
        <li class="breadcrumb-item"><a href="/profile/{{this.id_participant}}">Profile</a></li>
        {{/each}}
        <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
      </ol>
   </nav>

   {{#if alert}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
     {{alert}}
     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
   {{/if}}

   {{#if alertProblem}}
      <div class="alert alert-danger d-flex alert-dismissible fade show" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        {{alertProblem}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
   {{/if}}

   {{#each rows}}
   <form class="row g-3 needs-validation" method="POST" action="/editprofile/{{this.id_participant}}" novalidate>
      <div class="col-6">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" value="{{this.name}}" placeholder="First Name" name="name">
          <label for="floatingInput">First Name</label>
        </div>
      </div>
      <div class="col-6">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" value="{{this.lastname}}" placeholder="Last Name" name="lastname">
          <label for="floatingInput">Last Name</label>
        </div>
      </div>
      <div class="col-6">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" value="{{this.username}}" placeholder="email@email.com" name="username">
          <label for="floatingInput">Username (minimum 10 characters)</label>
        </div>
      </div>
      <div class="col-6">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" value="{{this.password}}" placeholder="Phone" name="password">
          <label for="floatingInput">Password (minimum 10 characters)</label>
        </div>
      </div>
      <div class="col-12">
        <div class="form-floating mb-3">
          <textarea class="form-control" placeholder="Leave a comment here" id="comments" name="description" style="height: 200px">{{this.description}}</textarea>
          <label for="comments">Description</label>
        </div>
      </div>
      <div class="col-12">
        <div class="form-floating mb-3">
          <textarea class="form-control" placeholder="Leave a comment here" id="comments" name="reserches" style="height: 200px">{{this.reserches}}</textarea>
          <label for="comments">Reserches</label>
        </div>
      </div>

      <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
  </form>
  {{/each}}
  </div>

 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous">
 </script>
</body>
</html> 

